.dflex-cl {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.dflex-rl {
    display: flex;
    justify-content: start;
    /* gap: 20px; */
}

.dflex-cc {
    display: flex;
    flex-direction: column;
    /* à répartir ! */
    align-items: center; 
    
    
}

.dflex-rc {
    display: flex;
    justify-content: center;
}

.dflex-xcyc {
    display: flex;
    justify-content: center;
    align-items: center;
}