:root {
    --base-font-family: Futura, sans-serif;
    --second-font-family: Aria, sans-serif;
    --base-txt-clr: black;
    --second-txt-clr: snow;
    /* --base-bkg-clr: color-mix(in srgb, grey, black); */
    --base-bkg-clr: #463f3f;

    --brand-clr: rgb(164, 234, 255);

    /* HEADER AND NAVBAR */
    /* --header-height-default: 7.34375em; */
    /* --header-height-default: 105px; */
    --header-height-default: 55px;
    --header-title-clr: var(--brand-clr);

    /* --navbar-margin-default: 20px 25px 25px 0;
    --navbar-font-family: var(--second-font-family); */

    /* MAIN */
    --main-section-padding-default: 0em var(--main-section-padding-768-1024) 0em var(--main-section-padding-768-1024);
    --main-section-padding-768-1024: 8.7em; /* < 768px < 1024 <   */

    --main-section-h2-mb: 2.8em;

    /* FOOTER */
    --footer-height-default: 50px; 
    --footer-height-dynamic: 50px;

    /* PROJECT ITEM IN PROJECTS GALLERY */
    --col-1440: 370px;
    --col-1024: 300px;

    --project-item-wrapper-txt-clr: var(--second-txt-clr);
    --project-item-border-radius-768-1440: 3px;
    --project-item-wrapper-bkg: var(--base-bkg-clr);

    /* PROJECT MODAL */
    

/*---------------------------------------------------------*/

    /* FONT SIZES */
    --font-size-10: 0.6250rem;  /* 10px */
    --font-size-11: 0.6880rem;  /* 11px */
    --font-size-12: 0.7500rem;  /* 12px */
    --font-size-13: 0.8130rem;  /* 13px */
    --font-size-14: 0.8750rem;  /* 14px */
    --font-size-15: 0.9380rem;  /* 15px */
    --font-size-16: 1rem;       /* 16px */
    --font-size-17: 1.0630rem;  /* 17px */
    --font-size-18: 1.1250rem;  /* 18px */
    --font-size-19: 1.1880rem;  /* 19px */
    --font-size-20: 1.2500rem;  /* 20px */
    --font-size-21: 1.3130rem;  /* 21px */
    --font-size-22: 1.3750rem;  /* 22px */
    --font-size-23: 1.4380rem;  /* 23px */
    --font-size-24: 1.5000rem;  /* 24px */
    --font-size-25: 1.5630rem;  /* 25px */
    --font-size-26: 1.6250rem;  /* 26px */
    --font-size-27: 1.6880rem;  /* 27px */
    --font-size-28: 1.7500rem;  /* 28px */
    --font-size-29: 1.8130rem;  /* 29px */
    --font-size-30: 1.8750rem;  /* 30px */
    --font-size-31: 1.9380rem;  /* 31px */
    --font-size-32: 2rem;       /* 32px */
    --font-size-33: 2.0630rem;  /* 33px */
    --font-size-34: 2.1250rem;  /* 34px */
    --font-size-35: 2.1880rem;  /* 35px */
    --font-size-36: 2.25rem;    /* 36px */

    --font-size-50: 3.125rem;
    --font-size-64: 3rem;       /* 64px */
    --font-size-256: 16.3rem;   /* 256px */

    /* GAP */
    --gap-2: 2px;
    --gap-3: 3px;
    --gap-4: 4px;
    --gap-5: 5px;
    --gap-6: 6px;
    --gap-7: 7px;
    --gap-8: 8px;
    --gap-9: 9px;
    --gap-10: 10px;
    --gap-11: 11px;
    --gap-12: 12px;
    --gap-13: 13px;
    --gap-14: 14px;
    --gap-15: 15px;
    --gap-16: 16px;
    --gap-17: 17px;
    --gap-18: 18px;
    --gap-19: 19px;
    --gap-20: 20px;
    --gap-21: 21px;
    --gap-22: 22px;
    --gap-23: 23px;
    --gap-24: 24px;
    --gap-25: 25px;
    --gap-26: 26px;
    --gap-27: 27px;
    --gap-28: 28px;
    --gap-29: 29px;
    --gap-30: 30px;
    --gap-31: 31px;
    --gap-32: 32px;
    --gap-33: 33px;
    --gap-34: 34px;
    --gap-35: 35px;
    --gap-36: 36px;
    }
