@import '../../styles/base.css';

#introducing {
    padding-top: var(--header-height-default);
}

#projects {
    /* background-color: darkgray; */
    padding-top: var(--header-height-default);
    min-height: 1800px;
}

#contact {
    /* background-color: tan; */
    padding-top: var(--header-height-default);
    min-height: 1800px;
}