.main__article {
    text-align: justify;
}

#projets-svg {  
    background-color: #a9a9a9;   
}

.introducing-section {
    padding-top: var(--header-height-default);
}

.skills-section {
    padding-bottom: 0px;
}

.projects-section {
    background-color: #a9a9a9;
    padding-bottom: 40px;
}
/*-------------------------------------------------------------------*/
@media screen and (320px <= width <=375px) {
    .skills-section h2, .projects-section h2, .contact-section h2 {
        font-size: var(--font-size-18);
        padding: 30px 20px 13px 20px;
        /* background-color: red; */
    }
}

@media screen and (375px < width <=425px) {
    .skills-section h2, .projects-section h2, .contact-section h2 {
            font-size: var(--font-size-19);
            padding: 13px 16px 13px 16px;
        }
}

@media screen and (425px < width <=3840px) {
    .skills-section h2, .projects-section h2, .contact-section h2 {
        font-size: var(--font-size-20);
        padding: 16px 25px 16px 25px;
    }
}

@media screen and (425px < width <=3840px) {
    .skills-section h2, .projects-section h2, .contact-section h2 {
        font-size: var(--font-size-25);
    }
}