main {
    font-size: 2rem;
    position: relative;
    top: 117px;
    color: black;
    background-color: tan;
}

main>div {
    height: calc(100vh - 117px);
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

main div section {
    height: 100%;
    width: 100%;
    scroll-snap-align: center;
}

main div :nth-child(1) {
    /* margin-top: 138px; */
}

main div :nth-child(2) {
    background-color: darkgray;
}