@import '../../styles/base.css';

:root {
    --contact-padding-375: 20px 0px 40px 0px;
    --contact-padding-425: 20px 0px 50px 0px;
    --contact-padding-768: 20px 0px 55px 0px;
    --contact-padding-1024: 20px 0px 40px 0px;
    --contact-padding-1440: 20px 0px 40px 0px;

    --contact-statut--wrapper-padding-375: 0px 20px 5px 20px;
    --contact-statut--wrapper-padding-425: 0px 30px 5px 30px;
    --contact-statut--wrapper-padding-768: 0px 60px 10px 60px;

    --avatar-size-sm: 150px;
    --avatar-size-lg: 200px;

    --contact-btn-size: 50px;

    --half-wrapper: 50%;
    --full-wrapper: 100%;
}

.contact-container {
    background: rgb(241, 238, 230);
    background: linear-gradient(0deg, rgba(241, 238, 230, 0.9472163865546218) 0%, rgba(169, 169, 169, 0.24413515406162467) 60%, rgba(255, 255, 255, 0.6979166666666667) 100%);
}

.contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-35);
    padding: var(--contact-padding-default);
}

.contact--avatar {
    height: var(--avatar-size-default);
    width: var(--avatar-size-default);
    border-radius: 100%;
    transform: rotateY(3.142rad);
    filter: drop-shadow(0 2mm 0.75rem hsla(0, 0%, 50%, .25));
}

.contact-avatar--wrapper {
    width: var(--wrapper-width-default);
}

.contact-statut--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--contact-statut--wrapper-padding-default);
    border-left: .5px solid grey;
    height: var(--wrapper-height-default);
    width: var(--wrapper-width-default);
}

.contact-statut--span {
    font-variant: small-caps;
    font-weight: bold;
}

.contact-statut--btn-bar {
    width: 100%;
}

.contact--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--second-txt-clr);
    background-color: var(--base-bkg-clr);
    border-radius: 100%;
    height: var(--contact-btn-size);
    width: var(--contact-btn-size);

    &:hover {
        cursor: pointer;
        background-color: var(--brand-clr);
        color: var(--base-txt-clr);
    }
}
/*-----------------------------------------------------*/
@media screen and (320px <= width <= 375px) {
    .contact {
        flex-direction: column;
        --contact-padding-default: var(--contact-padding-375);
    }

    .contact-avatar--wrapper {
        --wrapper-width-default: var(--full-wrapper);
    }

    .contact--avatar {
        --avatar-size-default: var(--avatar-size-sm);
    }

    .contact-statut--wrapper {
        border: unset;
        --contact-statut--wrapper-padding-default: var(--contact-statut--wrapper-padding-375);
        --wrapper-height-default: 230px;
        --wrapper-width-default: var(--full-wrapper);
    }

    .contact-statut--span {
        text-align: center;
    }
    
    .contact-statut--btn-bar {
        justify-content: space-between;
    }
}
@media screen and (375px < width <= 425px) {
        .contact {
                flex-direction: column;
                --contact-padding-default: var(--contact-padding-425);
            }
        
            .contact-avatar--wrapper {
                --wrapper-width-default: var(--full-wrapper);
            }
        
            .contact--avatar {
                --avatar-size-default: var(--avatar-size-sm);
            }
        
            .contact-statut--wrapper {
                border: unset;
                --contact-statut--wrapper-padding-default: var(--contact-statut--wrapper-padding-425);
                --wrapper-height-default: 230px;
                --wrapper-width-default: var(--full-wrapper);
            }
        
            .contact-statut--span {
                text-align: center;
            }
        
            .contact-statut--btn-bar {
                justify-content: space-between;
            }
}

@media screen and (425px < width <= 768px) {
    .contact {
            flex-direction: column;
            --contact-padding-default: var(--contact-padding-768);
        }
    
        .contact-avatar--wrapper {
            --wrapper-width-default: var(--full-wrapper);
        }
    
        .contact--avatar {
            --avatar-size-default: var(--avatar-size-lg);
        }
    
        .contact-statut--wrapper {
            border: unset;
            --contact-statut--wrapper-padding-default: var(--contact-statut--wrapper-padding-768);
            --wrapper-height-default: 230px;
            --wrapper-width-default: var(--full-wrapper);
        }
    
        .contact-statut--span {
            text-align: center;
        }
    
        .contact-statut--btn-bar {
            justify-content: space-around;
            width: 80%;
            align-self: center;
        }
    }
@media screen and (768px < width <= 3840px) {
    .contact {
        height: 400px;
        flex-direction: row;
        --contact-padding-default: var(--contact-padding-768);
    }

    .contact-avatar--wrapper {
        --wrapper-width-default: var(--half-wrapper);
    }

   .contact--avatar {
        --avatar-size-default: var(--avatar-size-lg);
   }

   .contact-statut--wrapper {
        --contact-statut--wrapper-padding-default: var(--contact-statut--wrapper-padding-768);
        --wrapper-height-default: 200px;
        --wrapper-width-default: var(--half-wrapper);
   }

   .contact-statut--paragraph {
       text-align: justify;
   }

    .contact-statut--btn-bar {
        justify-content: space-around;
    }
}
/* @media screen and (1024px < width <=3840px) {} */