.layout__footer {
    height: var(--footer-height-default);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: snow;
    background-color: #463f3f;
}
