.error {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 496px;
    min-height: calc(100vh - 105px);
}

.error__type {
    font-size: var(--font-size-256);
    padding: 0;
}

.error__message {
    font-size: var(--font-size-25);
}

.error__link {
    font-size: var(--font-size-20);
    color: var(--base-txt-clr);
    font-variant: small-caps;
    line-height: 122%;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    font-weight: bold;
    padding: 10px 18px 14px 18px;
    border: 2px solid var(--brand-clr);
    background-color: snow;
    border-radius: 35px;

    &:hover {
        cursor: pointer;
        color: var(--base-txt-clr);
        background-color: var(--brand-clr);
        border: 2px solid var(--brand-clr);
    }
}

@media screen and (320px <= width <= 425px) {
    .error {
        margin-top: 0px;
    }

    .error__type {
        font-size: var(--font-size-128);
    }

    .error__message {
        font-size: var(--font-size-18);
        
    }

    .error__link {
        font-size: var(--font-size-16);
        padding: 10px 18px 14px 18px;
        margin-top: 50px;
    }
}
